/*************** Global Styles ***************/

:root {
    --f7-ios-primary: #ae9159;
    --f7-page-bg-color: #F9F9F9;
    --safe-area-inset-top: env(safe-area-inset-top);
}

.ios {
    --f7-navbar-height: 56px;
    --f7-tabbar-icons-height: 56px;
    --f7-tabbar-link-inactive-color: rgba(0, 0, 0, 0.7);
    --f7-block-margin-vertical: 25px;
}

body {
    background-color: #F9F9F9;
}

.clearfix::after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.link.popup-close i {
    font-size: 16px !important;
}

.no-padding {
    padding: 0 !important;
}

.env-padding {
    padding-top: env(safe-area-inset-top);
}

.mt-4 {
    margin-top: 40px;
}

.navbar-hidden {
    transform: translate3d(0, calc(-1 * var(--f7-navbar-height) - var(--f7-safe-area-top)), 0);
}

.navbar-inner {
    border-bottom: 1px #ededed solid;
}

.button-white {
    background-color: #fff;
    color: #242424;
}

.button.active-state,
.ios .button.active-state {
    background-color: #ae9159 !important;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.item-input-center input {
    text-align: center !important;
}

.d-flex {
    display: flex !important;
}

.preloader-central {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-square {
    display: block;
    width: 100%;
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.image-square img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img.image-square {
    height: 100%;
    padding-bottom: 0 !important;
    object-fit: cover;
}

.image-rectangle {
    display: block;
    width: 100%;
    padding-bottom: 70%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.image-rounded {
    border-radius: 5px;
}

.toggle-inline {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.toggle-inline div {
    padding: 10px 5px;
}

.custom-file-upload {
    height: 150px;
}

.custom-file-upload {
    cursor: pointer;
    position: relative;
    display: flex;
    width: 100%;
    height: 125px;
}

.custom-file-upload input[type="file"] {
    overflow: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.custom-file-upload label {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background-color: rgba(225, 225, 225, 0.2);
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #E1E1E1;
    border-radius: 6px;
    margin: 0;
}

.custom-file-upload label span {
    display: block;
    font-size: 15px;
    color: #A1A1A2;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    font-weight: 500;
    transform: translate(0%, -50%);
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    text-align: center;
    border-radius: 0;
}

.custom-file-upload label span strong {
    display: block;
    font-weight: 500;
}

.custom-file-upload i {
    display: block;
    margin: 0 auto 1px auto;
    font-size: 50px;
}

.Xios .list-strong-ios ul {
    background-color: transparent !important;
}





/*************** Start / Register / Login ***************/

.app-landing-page .video-background-container {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}

.app-landing-page .video-background-container video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    opacity: .3;
    object-fit: cover;
    overflow: hidden;
}

.app-landing-page .app-landing-page-container {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 90%;
    z-index: 100;
}

.app-landing-page .app-landing-page-container .app-landing-page-logo {
    margin: 0 auto;
    display: block;
    width: 90%;
    height: auto;
    max-width: 300px;
}

.app-landing-page .app-landing-page-buttons {
    position: absolute;
    bottom: 60px;
    left: 0%;
    width: 100%;
    z-index: 100;
}

.app-landing-page .app-landing-page-buttons div {
    margin: 0 0 15px 0;
}

.app-landing-page .app-landing-page-buttons div:nth-of-type(2) {
    background-color: #fff !important;
    border-color: #fff !important;
    color: #191919 !important;
}

.app-landing-page .login-form {
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.app-landing-page h1 {
    margin-bottom: 5px
}

.app-landing-page h4 {
    font-weight: 400;
    margin: 0
}

.app-landing-page h4 em {
    color: #999999
}

.app-landing-page .login-buttons {
    position: fixed;
    bottom: 25px;
    left: 5%;
    width: 90%
}

.app-landing-page .login-buttons button,
.app-landing-page .login-buttons a {
    width: 100%
}

.app-landing-page .list .item-content {
    justify-content: left;
    font-size: 14px;
}

.app-landing-page .login-form img {
    width: 100%;
    height: auto;
    margin: 0 auto 5px auto;
}




/*************** Header ***************/
.header-logo {
    width: 140px;
    height: auto;
    margin: 0 auto 0 auto;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.header-logo img {
    width: 100%;
    height: auto;
}



/*************** Footer ***************/
.social-tabs .tab-link-active {
    background-color: var(--f7-ios-primary);
    color: #fff;
}

.toolbar.toolbar-bottom {
    background-color: #fff !important;
}

.toolbar.toolbar-bottom span {
    font-size: 8px;
}

.actions-modal {
    Xpadding-bottom: 60px;
}


/*************** Navbar ***************/
.navbar .navbar-bg {
    background-color: #fff !important;
}

.navbar a {
    color: #2b2b2b;
}

.navbar .left i {
    font-size: 40px;
}

.navbar .right i {
    font-size: 28px;
}

.navbar .left a+a,
.ios .navbar .right a+a {
    margin: 0 !important;
}

.navbar a.icon-only {
    width: 34px !important;
}

.navbar-large {
    background-color: #fff;
}

.navbar-large .navbar-bg {}

.navbar-large .navbar-bg:after {
    height: 0px !important;
}


/*************** Home - Social ***************/

.social-content {
    padding-top: calc(110px + env(safe-area-inset-top));
}

.social-tabs {
    background-color: #fff !important;
    margin-top: 0px;
    z-index: 99;
    position: absolute;
    top: calc(54px + env(safe-area-inset-top));
    left: 0;
    width: 100%;
    height: 50px !important;
}

.social-tabs .toolbar-inner {
    font-size: 13px;
    padding: 10px 5px 10px 5px;
    position: relative;
    height: 50px;
}

.social-tabs a {
    margin: 0 3px;
    border-radius: 5px !important;
    background-color: #F3F3F3;
}

.social-tabs .nav-link.active {
    background-color: #ae9159 !important;
    color: #fff !important;
}




/* Media Post */

.media-post {
    margin-bottom: 30px;
}

.media-post .media-post-header {
    display: block;
    width: 90%;
    padding: 10px 10px 0px 10px;
    font-size: 13px;
    line-height: 18px;
    margin: 0 0 8px 0;
    color: #000
}

.media-post .media-post-header .media-post-avatar {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    border: 2px #fff solid;
    margin: 0 8px 8px auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
}

.media-post .media-post-user {
    font-size: 14px;
    font-weight: 600;
    color: #000
}

.media-post .media-post-date {
    font-size: 10px;
}

.media-post .media-post-actions {
    padding: 12px 16px 5px 16px;
    border-top: #e9e9e9 1px solid;
    display: flex;
}

.media-post .media-post-actions i {
    font-size: 25px;
    margin-right: 10px;
}

.media-post .media-post-content {
    position: relative;
}

.media-post .swiper-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.media-post .swiper-pagination {
    position: relative;
    top: -5px;
}

.media-post .swiper-pagination .swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
    margin: 0 3px !important;
}

.media-post .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #ae9159;
    width: 6px !important;
    height: 6px !important;
    margin: 0 3px !important;
}

.media-post .media-post-content img {
    width: 100%;
    height: auto;
}

.media-post .media-post-content video {
    width: 100%;
    height: auto;
}

.media-post .media-post-likecount {
    padding: 0px 16px 0px 16px;
}

.media-post .media-post-description strong {
    font-weight: 600;
}

.media-post .media-post-description {
    padding: 12px 16px 0px 16px;
    font-size: 14px;
    line-height: 24px;
}

.media-post .media-post-readmore {
    display: block;
    width: 100%;
    color: #a6a6a6;
}

.media-post .media-post-commentcount {
    padding: 12px 16px 0px 16px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
}

.button-grey {
    background-color: #333333;
    color: #fff;
}

/* Comments & Comments Popup */

.comments-list {
    display: block;
    width: 95%;
    height: 98%;
    overflow: auto;
    padding: 0;
    margin: 20px auto 0 auto !important;
}

.profile-followers-list {
    display: block;
    width: 92%;
    height: 98%;
    overflow: auto;
    padding: 0;
    margin: 0px auto 0 auto !important;
}

.comment {
    display: block;
    clear: both;
    margin: 0 0 30px 0;
}

.comments-list .comment-profile-img {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    border: 2px #fff solid;
    margin: 0 8px 8px auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
}

.comment-content-container {
    display: block;
    float: left;
    width: 85%;
}

.comments-list .comment-username {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: #000;
}

.comments-list .comment-username .date {
    font-size: 10px;
    font-weight: 400;
}

.comments-list .comment-content {
    font-size: 13px;
    margin: 3px 0 0 0;
}

.comments-list .comment-actions {
    display: flex;
    margin: 10px 0 0 0;
    color: #383838;
}

.comments-list .comment-actions i {
    font-size: 18px;
}

.comments-list .comment-actions span {
    font-size: 11px;
}

.comments-list .comment-actions .comment-like {
    margin-right: 15px;
}

.comments-list .comment-replies {
    display: block;
    color: #383838;
    margin: 10px 0 0 0;
    font-size: 13px;
}

.three-quarter-popup,
.comments-popup {
    height: 80% !important;
    top: 20% !important;
    padding: 0 !important;
    margin: 0 !important;
}

.three-quarter-popup .links-list a {
    justify-content: left;
}

.three-quarter-popup .links-list i {
    justify-content: left;
    margin-right: 10px;
}


.comments-popup .view,
.comments-popup .page {
    margin-top: 0px !important;
    padding-top: 0px !important;
}

.comments-popup .toolbar.messagebar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.comments-popup .toolbar.messagebar textarea.resizable {
    max-height: 120px;
    font-size: 14px;
}

.comments-popup .messagebar button.link.icon-only:last-child {
    margin-right: -8px;
}

.comments-popup .toolbar button.icon-only {
    min-height: var(--f7-toolbar-height);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-width: 44px;
    background-color: transparent !important;
    border: 0px !important;
    width: 50px !important;

}

.comments-popup .messagebar button.link {
    align-self: flex-end;
    flex-shrink: 0;
    color: var(--f7-messagebar-link-color, var(--f7-theme-color));
}




/*************** Notifications ***************/
.app-notification-title {
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    text-transform: unset;
}

.notification-item {
    padding: 14px 16px 14px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background-color: #fff;
}

.notification-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.notification-left .image-square {
    width: 45px;
    height: 45px;
    padding: 0;
    min-width: 45px;
}

.people-img {
    width: 40px;
    border-radius: 50%;
}

.notification-img {
    width: 36px;
}

.notification-text {
    margin-bottom: 4px;
    color: #000;
}

.notification-text a {
    color: #000;
}

.notification-time {
    font-size: 14px;
    color: #797979;
}



/*************** Search ***************/

.search-result {
    font-size: 14px;
}

.search-result .item-media {
    width: 40px;
}

.popup-lower-button {
    position: absolute;
    left: 5%;
    width: 90%;
    bottom: 10px;
}

.location-field input {
    border: 1px #d0d0d0 solid;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 10px 6px;
}





/*************** Profile - Landing ***************/

.profile-landing-page .profile-background {
    position: absolute;
    z-index: -1;
    top: 50px;
    left: 0;
    width: 100%;
    opacity: 1;
    height: 20vh;
    min-height: 150px;
    max-height: 500px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.profile-landing-page .profile-head {
    display: block;
    text-align: center;
    padding: 50px 0 0 0;
}

.profile-landing-page .profile-image {
    width: 140px;
    height: 140px;
    margin: 0 auto 20px auto;
    border-radius: 100px;
    border: 2px #fff solid;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
}

.profile-landing-page .profile-background:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 75%;
    bottom: -2px;
    background: rgb(249, 249, 249);
    background: linear-gradient(180deg, rgba(249, 249, 249, 0) 0%, rgba(249, 249, 249, 1) 100%);
}

.profile-landing-page .profile-head .name {
    font-weight: bold;
    margin: 0 0 3px 0;
}

.profile-landing-page .profile-head .subtext {
    color: #808080;
    font-weight: 400;
    margin: 0;
    font-size: 13px;
}

.profile-landing-page .profile-links {
    margin: 20px 15px 25px 15px;
}

.profile-landing-page .profile-links-edit,
.profile-landing-page .profile-links-external {
    gap: 5px;
}

.profile-landing-page .profile-link {
    display: block;
    width: 100%;
    padding: 6px 5px;
    background-color: #ae9159;
    border-radius: 6px;
    color: #fff;
    margin: 0 auto 12px auto;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
}

.profile-landing-page .profile-link.dark-bg {
    background-color: #1D1D1B;
}

.profile-landing-page .profile-link-inactive {
    opacity: .3;
}

.profile-landing-page .profile-links .profile-link.social-link {
    background-color: #1d1d1b;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    line-height: 12px;
    padding: 10px 0;
    margin-bottom: 0px;
    font-size: 11px;
}

.profile-landing-page .profile-links .profile-link.social-link i {
    font-size: 18px;
    margin: 0 auto 2px auto;
}

.profile-landing-page .profile-links .profile-link.social-link img {
    width: 20px;
    height: 20px;
}

.profile-landing-page .profile-links .profile-link.social-link span {
    display: block;
    width: 100%;
    text-align: center;
}

.profile-landing-page .profile-tabs {
    margin: 5px auto 20px auto;
    padding: 0;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.profile-landing-page .profile-tabs .tab-link {
    display: flex;
    padding: 8px 30px 10px 30px;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #4F5050;
    border-bottom: 2px transparent solid;
}

.profile-landing-page .profile-tabs .tab-link.tab-link-active {
    color: #ae9159;
    border-bottom: 2px #ae9159 solid;
}


.profile-landing-page .garage-sub-title {
    background-color: #fff;
}

.profile-landing-page .listview-title {
    color: #4F5050;
    padding: 7px 16px;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-landing-page .listview.transparent {
    background: transparent;
}

.profile-landing-page .listview.flush {
    border-top: 0;
    border-bottom: 0;
}

.profile-landing-page .listview {
    display: block;
    padding: 0;
    margin: 0;
    color: #141515;
    background: #fff;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    line-height: 1.3em;
}

.profile-landing-page .image-listview.media>li:last-child {
    border-bottom: 0;
}

.profile-landing-page .image-listview.media>li {
    border-bottom: 1px solid #E1E1E1;
}

.profile-landing-page .image-listview>li {
    padding: 0;
    min-height: auto;
}

.profile-landing-page .listview>li {
    padding: 8px 16px;
    display: block;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 50px;
}

.profile-landing-page .image-listview>li .item {
    cursor: pointer;
    padding: 10px 16px 10px 0px;
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
}

.profile-landing-page .listview>li .item {
    position: relative;
    color: #262626;
}

.profile-landing-page .image-listview.media>li .imageWrapper {
    margin-right: 16px;
    width: 70px !important
}

.profile-landing-page .image-listview>li .item .in {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.profile-landing-page .links-list li {
    background-color: transparent;
}

.profile-landing-page .links-list a {
    justify-content: left;
}

.profile-landing-page .links-list i {
    justify-content: left;
    margin-right: 5px;
}

/* .profile-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 95%;
	margin: 0 auto;
	text-align: center;
}

.profile-grid .grid-item {
	display: flex;
	flex: 1 1 32%;
	margin: 0 0.5% 1% 0.5%;
	box-sizing: border-box;
	overflow: hidden;
	min-height: 100px;
} */

.profile-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

.profile-grid .grid-item {
    min-height: 100px;
    box-sizing: border-box;
    overflow: hidden;
    max-height: 130px;
}

.profile-grid .video-square {
    display: block;
    overflow: hidden;
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}

.profile-grid .video-square video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.social-other-links,
.social-other-links i {
    font-size: 14px;
}

.social-other-links .item-link .item-inner {
    padding-right: 15px !important;
}

.social-other-links .item-inner:before,
.social-other-links .item-inner:after {
    display: none !important;
}

.button-add-link {
    margin-top: 20px;
}

.change-password .password-toggle-title {
    font-size: 14px;
    color: #ae9159;
}

.change-username-info {
    margin-top: 3px !important;
}



/* Profile - Garage - View */

.vehicle-profile-background {
    position: relative;
    opacity: 1;
    top: 0px;
    left: 0;
    width: 100%;
    height: 30vh;
    min-height: 150px;
    max-height: 500px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.vehicle-profile-image {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 100px;
    border: 2px #fff solid;
    margin: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
}

.profile-garage-intro {
    margin: 20px auto 10px auto;
    width: 90%;
}

.profile-garage-intro h1 {
    font-size: 20px;
    margin-bottom: 1px;
}

.profile-garage-intro p {
    font-size: 12px;
    line-height: 18px;
    margin: 0 auto 15px auto;
}

.profile-garage-intro p {
    font-size: 12px;
    line-height: 20px;
}

.profile-garage-intro p.garage-owned-information {
    margin-bottom: 10px;
}





/* Store */

.store-coming-soon i {
    font-size: 50px;
    color: #ae9159;
}

.store-coming-soon {
    margin: 50px auto 0 auto;
    padding: 0 25px;
}




/* ===========NEW CSS ================= */
.m-0 {
    margin: 0 !important;
}

.m-05 {
    margin: 5px !important;
}

.m-1 {
    margin: 8px !important;
}

.m-2 {
    margin: 16px !important;
}

.m-3 {
    margin: 24px !important;
}

.m-4 {
    margin: 32px !important;
}

.m-5 {
    margin: 40px !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-05 {
    margin-top: 5px !important;
}

.mt-1 {
    margin-top: 8px !important;
}

.mt-2 {
    margin-top: 16px !important;
}

.mt-3 {
    margin-top: 24px !important;
}

.mt-4 {
    margin-top: 32px !important;
}

.mt-5 {
    margin-top: 40px !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.mb-05 {
    margin-bottom: 5px !important;
}

.mb-1 {
    margin-bottom: 8px !important;
}

.mb-2 {
    margin-bottom: 16px !important;
}

.mb-3 {
    margin-bottom: 24px !important;
}

.mb-4 {
    margin-bottom: 32px !important;
}

.mb-5 {
    margin-bottom: 40px !important;
}

.ms-0 {
    margin-left: 0 !important;
}

.ms-05 {
    margin-left: 5px !important;
}

.ms-1 {
    margin-left: 8px !important;
}

.ms-2 {
    margin-left: 16px !important;
}

.ms-3 {
    margin-left: 24px !important;
}

.ms-4 {
    margin-left: 32px !important;
}

.ms-5 {
    margin-left: 40px !important;
}

.me-0 {
    margin-right: 0px !important;
}

.me-05 {
    margin-right: 5px !important;
}

.me-1 {
    margin-right: 8px !important;
}

.me-2 {
    margin-right: 16px !important;
}

.me-3 {
    margin-right: 24px !important;
}

.me-4 {
    margin-right: 32px !important;
}

.me-5 {
    margin-right: 40px !important;
}

.p-0 {
    padding: 0 !important;
}

.p-05 {
    padding: 5px !important;
}

.p-1 {
    padding: 8px !important;
}

.p-2 {
    padding: 16px !important;
}

.p-3 {
    padding: 24px !important;
}

.p-4 {
    padding: 32px !important;
}

.p-5 {
    padding: 40px !important;
}

.pt-0 {
    padding-top: 0px !important;
}

.pt-05 {
    padding-top: 5px !important;
}

.pt-1 {
    padding-top: 8px !important;
}

.pt-2 {
    padding-top: 16px !important;
}

.pt-3 {
    padding-top: 24px !important;
}

.pt-4 {
    padding-top: 32px !important;
}

.pt-5 {
    padding-top: 40px !important;
}

.pb-0 {
    padding-bottom: 0px !important;
}

.pb-05 {
    padding-bottom: 5px !important;
}

.pb-1 {
    padding-bottom: 8px !important;
}

.pb-2 {
    padding-bottom: 16px !important;
}

.pb-3 {
    padding-bottom: 24px !important;
}

.pb-4 {
    padding-bottom: 32px !important;
}

.pb-5 {
    padding-bottom: 40px !important;
}

.ps-0 {
    padding-left: 0px !important;
}

.ps-05 {
    padding-left: 5px !important;
}

.ps-1 {
    padding-left: 8px !important;
}

.ps-2 {
    padding-left: 16px !important;
}

.ps-3 {
    padding-left: 24px !important;
}

.ps-4 {
    padding-left: 32px !important;
}

.ps-5 {
    padding-left: 40px !important;
}

.pe-0 {
    padding-right: 0px !important;
}

.pe-05 {
    padding-right: 5px !important;
}

.pe-1 {
    padding-right: 8px !important;
}

.pe-2 {
    padding-right: 16px !important;
}

.pe-3 {
    padding-right: 24px !important;
}

.pe-4 {
    padding-right: 32px !important;
}

.pe-5 {
    padding-right: 40px !important;
}

.mt-15 {
    margin-top: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}

.section {
    padding: 0px 10px;
}

.w-100 {
    width: 100%;
}

.product-listing .card {
    padding: 10px;
    margin: 0px;
}

.product-listing {
    grid-column-gap: 15px;
    grid-row-gap: 20px;
}

.product-listing .title {
    font-size: 15px;
    margin: 10px 0 0 0;
    padding: 0 4px;
    font-weight: 500;
}

.product-listing .text {
    font-size: 11px;
    color: #A1A1A2;
    margin: 0;
    padding: 0 4px 10px 4px;
}

.product-listing .price {
    margin: 0 0 10px 0;
    padding: 0px 4px;
    display: block;
    font-size: 15px;
    font-weight: 500;
    color: #ae9159;
}

.btn {
    height: 40px;
    padding: 3px 18px;
    font-size: 13px;
    line-height: 1.2em;
    font-weight: 500;
    box-shadow: none !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: none;
    text-decoration: none !important;
    border-radius: 6px;
    border-width: 2px;
    box-sizing: border-box;
}

.btn-sm {
    height: 30px;
    padding: 0px 12px;
    font-size: 12px;
}

.btn-primary {
    background: #ae9159 !important;
    border-color: #ae9159 !important;
    color: #ffffff !important;
}

.btn-secondary {
    background: #e3e3e3 !important;
    border-color: #e3e3e3 !important;
    color: #000 !important;
}

* {
    box-sizing: border-box;
}

.container {
    padding: 0px 15px;
}

.featured-img {
    display: block;
    width: 100%;
    padding-bottom: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.featured-item {
    position: relative;
    overflow: hidden;
    border-radius: 7px;
}

.featured-content {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0px 22px 22px 22px;
    z-index: 2;
    background-image: linear-gradient(to right, #000000ad, hwb(0deg 100% 0% / 0%));
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: end;
    color: #fff;
}

.featured-content h2 {
    font-size: 21px;
    line-height: 29px;
    margin: 0px;
}

.featured-content p {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 600;
}

.featured-content .btn {
    padding: 3px 16px;
    font-size: 16px;
    border-radius: 3px;
    line-height: 1;
    height: 33px;
}

.section-title {
    font-size: 25px;
    letter-spacing: 0;
    line-height: 1.3em;
    color: #141515;
    font-weight: 600;
}

.list .section-title {
    padding-inline: 1rem;
}

.event-listing .card {
    background: #ffffff;
    border-radius: 6px;
    border: 0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    position: relative;
    overflow: hidden;
    margin: 0px;
    display: block;
}

.event-listing .card .card-content {
    padding: 10px 10px;
}

.event-listing .card-content .event-title {
    margin-bottom: 8px;
    margin-top: 0px;
    font-size: 14px;
    color: #000;
    line-height: 18px;
    font-weight: 500;
}

.event-listing .card-content .event-info {
    margin-bottom: 0px;
    margin-top: 7px;
    font-size: 11px;
    color: #9c9c9c;
    font-weight: 500;
}

.event-dates {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #b89855;
    color: #fff;
    text-align: center;
    display: flex;
}

.event-dates .event-date-item {
    margin: 2px 0;
    padding: 2px 8px;
    border-right: 1px solid #fff;
    text-transform: uppercase;
}

.event-dates .event-date-item:last-child {
    border: none;
}

.position-relative {
    position: relative;
}

.d-block {
    display: block;
}

.event-dates .event-date-item p {
    margin: 0;
    line-height: 16px;
    font-size: 11px;
}

.event-dates .event-date-item h5 {
    margin: 0;
    font-size: 15px;
    line-height: 14px;
    margin-top: 1px;
}

swiper-container.event-listing {
    margin: 0px -8px;
}

.grid-cols-2.event-listing {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

.event-listing swiper-slide {
    padding: 0px 8px 8px 8px;
}

.tabbar-nav {
    background: #fff;
    /* position: fixed;
    bottom: 0;
    left: 0; */
    width: 100%;
    z-index: 999;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.tabbar-nav ul {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    scrollbar-width: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.tabbar-nav ul li {
    flex: 0 1 auto;
    list-style: none;
    margin-right: 8px !important;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#view-discover .tabbar-nav ul a {
    width: 100%;
    border-radius: 0;
    padding: 6px 12px;
    height: 45px;
    font-size: 13px;
    border-bottom: 2px solid transparent !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    white-space: nowrap;
    color: #4F5050;
}

#view-discover .tabbar-nav .tab-link-active {
    border-bottom: 2px solid #ae9159 !important;
    color: #ae9159 !important;
}

.card-listview {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: #141515;
    background: #fff;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    margin: 0px -16px;
    justify-content: flex-start;
    padding: 0;
}

.card-listview .listview-item {
    padding: 20px 35px 20px 16px;
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    column-gap: 16px;
}

.card-listview .listview-image {
    border-radius: 6px;
    width: 50px;
}

.card-listview .listview-title {
    font-size: 15px;
    font-weight: 500;
}

.listview-action {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.listview-action .icon {
    font-size: 17px !important;
    color: #d0d0d0;
}


.searchbar-input-wrap input {
    display: block;
    width: 100%;
    background-color: #ededed !important;
    font-size: 13px !important;
    border-radius: 4px !important;
    height: 37px !important;
}

.searchbar-inner {
    background: #fff;
    padding: 3px 10px 0px 10px !important;
}

.searchbar:after {
    display: none;
}

.ios .searchbar-icon {
    margin-top: -4px;
}

.discovery-wrap .tabbar-nav {
    padding-top: 5px;
}

.filter-bar {
    display: flex;
    gap: 10px;
}

.filter-bar .filter-item {
    font-size: 12px;
    background-color: #fff;
    color: #000;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    padding: 9px 10px;
    border-radius: 100px;
    margin: 0 0px 0px 0;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    gap: 10px;
    width: 100%;
}

.filter-bar .filter-item .icon {
    font-size: 12px;
}

.filter-popup {
    height: 80% !important;
    top: 20% !important;
    margin: 0 !important;
}

.popup-header {
    position: relative;
    border-bottom: 1px #e9e9e9 solid;
    margin: 0 0 20px 0;
    padding: 2px 0 10px 0;
    text-align: left;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.p-1 {
    padding: 8px;
}

.p-2 {
    padding: 16px;
}





/* For Event Detail Page Start */
.discover-view-event .event-detail-img-box {
    width: 100%;
    display: block;
    overflow: hidden;
}

.discover-view-event .event-detail {
    text-align: left;
    padding: 26px 0 20px 0;
    display: block;
    width: 100%;
}

.discover-view-event .event-detail-title {
    font-size: 22px;
    color: #333333;
    line-height: 34px;
    font-weight: 500;
}

.discover-view-event .event-time-address {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.discover-view-event .event-time-address+.event-time-address {
    margin-top: 10px;
}

.discover-view-event .event-time-address i {
    color: #ae9159;
    font-size: 24px;
}

.discover-view-event .event-time-address span {
    font-size: 14px;
    color: #333333;
}

.discover-view-event .share-btn {
    height: auto;
    background: #f1f1f1;
    padding: 10px 10px;
    color: #333333;
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
}

.discover-view-event .share-btn i {
    font-size: 15px;
    margin-right: 4px;
}

.discover-view-event .event-list-btn {
    gap: 4px;
}

.discover-view-event .event-list-btn .btn {
    color: #fff;
    font-weight: 400;
    height: 37px;
    margin: 0 auto 10px auto;
}

.discover-view-event .event-list-btn .btn i {
    font-size: 14px;
    margin-right: 5px;
}

.discover-view-event .btn.bg-dark {
    background-color: #2e2e2e;
}

.discover-view-event .event-detail-tabs .social-tabs,
.discover-view-event .event-detail-tabs .toolbar-inner {
    position: static;
    padding: 0;
}

.discover-view-event .event-detail-tabs .social-tabs {
    height: 30px !important;
}

.discover-view-event .event-detail-tabs .social-tabs .tab-link {
    border-radius: 50px !important;
    color: #131313;
    font-weight: 500;
}

.discover-view-event .event-des-wrap p {
    color: #333333;
    font-size: 13px;
    line-height: 26px;
}

.discover-view-event .event-detail-tabs .tabbar {
    background: transparent !important;
}

.discover-view-event .swiper-container {
    background-image: url('../assets/img/slider-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.discover-view-event .swiper-image {
    display: block;
    width: 100%;
    padding-bottom: 60%;
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.discover-view-event .listing-tabs {
    margin: 5px auto 5px auto;
    padding: 0;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.discover-view-event .listing-tabs .tab-link {
    display: flex;
    padding: 8px 30px 10px 30px;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #4F5050;
    border-bottom: 2px transparent solid;
}

.discover-view-event .listing-tabs .tab-link.tab-link-active {
    color: #ae9159;
    border-bottom: 2px #ae9159 solid;
}

/* For Event Detail Page End */


.panel-left img {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.panel-left .block {
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    padding-top: calc(5px + env(safe-area-inset-top));
}

.panel-left .logout-button {
    position: absolute;
    bottom: calc(10px + env(safe-area-inset-bottom));
    left: 5%;
    width: 90%;
    display: block;
    color: #5c5c5c;
    text-align: center;
}

.popup .navbar {
    height: 45px !important;
}

.popup .navbar-inner {
    padding-top: 0 !important;
}

.popup .page-content {
    padding-top: 45px !important;
    overflow: hidden;
}

.navbar a.link.back {
    padding-right: 50px !important;
}

.comment-delete {
    margin-left: 15px;
}

.comment-delete i {
    font-size: 15px !important;
    color: #6c6c6c !important;
}

.profile-landing-page .profile-user-info {
    display: block;
    width: 100%;
}

.profile-landing-page .profile-usernames {
    width: 48%;
    text-align: center;
    display: inline-block;
}

.profile-landing-page .profile-followers {
    width: 24%;
    text-align: center;
    border-left: 1px #e1e1e1 solid;
    display: inline-block;
}

.profile-landing-page .profile-posts {
    width: 24%;
    text-align: center;
    border-left: 1px #e1e1e1 solid;
    display: inline-block;
}

.profile-landing-page .profile-followers h3,
.profile-landing-page .profile-posts h3 {
    font-weight: bold;
    margin: 0 0 3px 0;
}

.email-verification-message {
    display: none !important;
}

.discover-view-event .event-list-btn {
    text-align: center;
}

.event-time-address a {
    color: #333333;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #AE9159 !important;
}

#link-profile {
    background: #ae9159 !important;
    border: 0 !important;
    color: #ffffff !important;
    border-radius: 5px;
    padding: 10px;
}

.header-logo {
    width: 150px;
    bottom: 12px
}