/* ME */

.init-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index: 9999;
}

.loading-fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index: 9999;
}

.init-loader.light {
    background-color: rgba(255, 255, 255, 0.5);
}

.comment-replies-container {
    display: none;
}

.comment-replies-container.show {
    display: block;
    margin-top: .8rem;
}

.text-red {
    color: red;
}


.profile-grid .grid-item {
    background: #f0f0f0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-grid .grid-item .image-square,
.profile-grid .grid-item .video-square {
    z-index: 2;
}

.profile-grid .grid-item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 40px;
    /* background: url('../assets/loader.gif') center center no-repeat; */
    background-size: contain;
    transform: translate(-50%, -50%);
    /* z-index: 1; */
}

.profile-grid .grid-item.loaded::before {
    display: none;
    /* Hide the loader once the image has loaded */
}

.swiper-inner-container {
    min-height: 100px;
}

/* Style for the toggle password button */
/* .toggle-password {
    position: absolute;
    top: 0px;
    right: 0px;
    background: red;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 5px;
    color: #888;
    width: 10px;
    height: 10px;
}

.toggle-password::after {
    content: "eye_fill";
    font-family: 'framework7-core-icons';
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    font-size: calc(var(--f7-input-clear-button-size) /(14 / 10));
    line-height: 1.4;
} */

.media-post .media-single-post-content {
    position: relative;
}

.media-post .media-single-post-content img {
    width: 100%;
    height: auto;
}

.media-post .media-single-post-content video {
    width: 100%;
    height: auto;
}

.profile-landing-page .profile-head .name,
.profile-landing-page .profile-head .subtext {
    display: flex;
    justify-content: center;
    align-items: center;
}

#notifications-list {
    max-width: 600px;
    margin: 0 auto;
}

.notification-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: start;
}

.notification-item .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}

.notification-item .notification-content {
    flex: 1;
}

.notification-item .media-preview {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    margin-left: 10px;
}

.media-post .media-post-content img {
    max-height: 500px;
    object-fit: cover;
}

#category-filters ul {
    overflow-y: scroll;
    max-height: 66vh;
}

.custom-file-upload span {
    display: block;
    font-size: 15px;
    z-index: -2;
    color: #A1A1A2;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    font-weight: 500;
    transform: translate(0%, -50%);
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    text-align: center;
    border-radius: 0;
}

.custom-file-upload label {
    z-index: 2;
}

.hidden {
    display: none;
}

.media-post-readmore {
    color: blue;
    cursor: pointer;
}

.media-post-readmore {
    display: inline !important;
}

.pac-container {
    z-index: 12000 !important;
}

.post-media {
    position: relative;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e7e7e7;
}

.post-media.video {
    max-height: 750px;
    display: block;
}

.post-media img {
    z-index: 1;
}

.post-media::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 40px;
    background: url('../assets/loader.gif') center center no-repeat;
    background-size: contain;
    transform: translate(-50%, -50%);
    /* z-index: ; */
}

.post-media.video::before {
    display: none;
}

.replying-to {
    position: absolute;
    top: -28px;
    left: 11px;
    background-color: #e4e4e4;
    width: 84%;
    padding: .7rem;
    border-radius: 15px;
    font-size: 13px;
}

#comment-form {
    min-height: 50px;
    position: relative;
}

.skeleton-block {
    border-radius: 12px;
}

.btn.bg-dark {
    background-color: #2e2e2e;
    color: white;
}

.w-70 {
    width: 70%;
}

.notification-count {
    position: absolute;
    font-size: 12px;
    background-color: var(--f7-ios-primary);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    display: none;
    align-items: center;
    justify-content: center;
    left: 15px;
    top: 8px;
    z-index: 99;
    color: white;
}

.privacy-statement {
    font-size: 12px;
    padding: 1rem;
}

.privacy-popup.popup .page-content,
.terms-popup.popup .page-content {
    padding-top: 10px !important;
}

.unread-notif {
    background-color: #f0f0f0;
}

.target-highlight {
    -webkit-animation: target-fade 3s 1;
    -moz-animation: target-fade 3s 1;
}

@-webkit-keyframes target-fade {
    0% {
        background-color: rgba(255, 255, 153, .8);
    }

    100% {
        background-color: rgba(255, 255, 153, 0);
    }
}

@-moz-keyframes target-fade {
    0% {
        background-color: rgba(255, 255, 153, .8);
    }

    100% {
        background-color: rgba(255, 255, 153, 0);
    }
}

.w-full {
    width: 100%;
}


.search-history {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
    border: 1px solid #ddd;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    /* Initially hidden */
    position: absolute;
    z-index: 999;
    width: 100%;
    background: #fff;
    top: 45px;

}

.search-history li {
    padding: 8px;
    cursor: pointer;
    padding-inline: 1rem;
    margin-bottom: 2px;
}

.search-history li:hover {
    background-color: #f0f0f0;
}

.searchbar {
    position: relative;
}

.search-history-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.search-history-item i {
    font-size: 10px;
    margin-right: 5px;
}

.search-history-item span {
    flex-grow: 1;
    /* Makes the search text take up available space */
    width: 100%;
}

.search-history-item .delete-history {
    cursor: pointer;
    color: red;
    /* You can change this color as needed */
}

.verification-content {
    text-align: center;
    padding: 20px;
}

.verification-header h1 {
    font-size: 24px;
    color: #333;
}

.verification-loader .preloader {
    /* Your preloader CSS styles */
}

.verification-message p {
    font-size: 16px;
    color: #555;
    margin-top: 20px;
}

.verification-success {
    color: #2ecc71;
}

.verification-error {
    color: #e74c3c;
}

.verification-content img {
    width: 100%;
    height: 45px;
    object-fit: contain;
    margin: 30px auto;
}

.error-message {
    color: red;
    font-size: 12px;
    margin: 0px 7px;
}

.email-verification-message {
    width: 100%;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 50px;
    text-align: center;
}

.email-verification-message p {
    font-size: 12px;
    color: #333;
}

.profile-landing-page .profile-head.email-not-verified {
    padding: 68px 0 0 0 !important;
}

.button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 35px;
    margin-right: 10px;
}

#sso-ce-button {
    text-transform: none;
    background-color: #101010;
}

.swiper-pagination-bullet {
    background: #e0e0e0;
}


.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #ae9159 !important;
}

.load-more-notifications {
    margin: 1rem auto;
    width: 90%;
    display: flex;
    justify-content: center;
}

.load-more-notifications.hidden {
    display: none;
}


.mt-12 {
    margin-top: 20px;
}

.w-100 {
    width: 88%;
}

.hidden {
    display: none !important;
}

.owner-liked-comment{
    position: absolute;
    top: 0;
    right: -35px;
    display: flex;
    align-items: center;
}

.owner-liked-comment .comment-profile-img{
    width: 17px;
    height: 17px;
    margin: 0px;
}

.comment-userlogin-link{
    position: relative;
}

.owner-liked-comment .f7-icons{
    font-size: 12px !important;
}

.permission-title{
    font-size: 1rem !important;
    display: flex;
    align-items: center;
    gap: 15px;
}

.permission-title .f7-icons{
    font-size:20px !important;
}